/* #region main contact */
html {
    --colore-blur1: rgba(0, 33, 41, 0.511);
    --colore-blur2: rgba(0, 106, 133, 0.586);
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
}


div.cont-contact {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "form map";
    color: var(--colore-testo);
    gap: 1rem;
    padding: 0.3rem;

}



main.contact-page {
    width: 100%;
    height: 100%;
}

/* #endregion main contact */


/* #region contact form */
section.form-contact-section {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 100%;
}

section.form-contact-section h2 {
    width: 100%;
    font-family: 'Bitcount', sans-serif;
    color: var(--colore-secondario);
    text-align: center;
    font-size: clamp(1.6rem, 1.6vw + 0.8rem, 2.3rem);
    margin: 0.3rem 0 0.3rem 0;
}

section.form-contact-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    caret-color: var(--v);
}

form[name="form"] fieldset {
    width: 95%;
    /* display: flex; */
    flex-direction: column;
    caret-color: var(--v);
    border: 1px solid var(--v);
    margin-bottom: 1.5rem;
}

legend {
    font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1.2rem);
    font-weight: 500;
    color: var(--colore-testo);
    margin-left: 0.5rem;
}

div.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

section.form-contact-section form input {
    background-color: var(--colore-testo);
    color: var(--colore-sfondo);
    border: 1px solid var(--v);
    margin-left: auto;
}

section.form-contact-section form textarea:focus,
section.form-contact-section form input:focus {

    border: 2px solid var(--v);
}

span.invalid {
    display: none;
    color: var(--v);
    font-size: clamp(0.5rem, 1.5vw + 0.5rem, 1rem);
    margin: 0;
}

h3.invalidH3 {
    display: none;
    color: var(--v);
    font-size: clamp(0.5rem, 1.5vw + 0.4rem, 1rem);
    margin: 0.1rem;
    text-align: center;
}

.submitted {}

form.submitted textarea:invalid,
form.submitted input:invalid {
    background-color: var(--v);

    color: var(--colore-sfondo);
    caret-color: var(--colore-sfondo);
}



section.form-contact-section form label {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
}

textarea {
    overflow: scroll;
    outline: 1px solid var(--v);
    background-color: var(--colore-testo);
    color: var(--colore-sfondo);
    width: 100%;
    min-height: 6rem;
    resize: none;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 0.2rem 0 0.3rem 0;
}

input::placeholder,
textarea::placeholder {
    color: var(--colore-testo);
    font-style: italic;
}

section.form-contact-section form button#button-submit {
    cursor: pointer;
    text-align: center;
    color: var(--colore-testo);
    min-width: 30%;
    max-height: 15%;
    padding: 0.1rem;
    font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1.2rem);
    border: 2px solid var(--v);
    border-radius: 10px;
    font-weight: 700;
    animation: neon-pulse 0.9s infinite alternate ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: var(--colore-sfondo);
}

@keyframes neon-pulse {
    0% {
        box-shadow: inset 0 0 7px var(--v), inset 0 0 10px var(--v);
    }

    100% {
        box-shadow: inset 0 0 14px var(--v), inset 0 0 20px var(--colore-accento);
    }
}


section.form-contact-section form button#button-submit:hover {
    background-color: var(--colore-accento);
    color: var(--colore-sfondo);
    border: 2px solid var(--v);
    animation: none;
    box-shadow: inset 0 0 15px var(--v);
}


/* #endregion contact form */


/* #region contact info map */

section.contact-info-section {
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    gap: 0.7rem;
}

section.contact-info-section h2 {
    font-family: 'Bitcount', sans-serif;
    color: var(--colore-secondario);
    text-align: center;
    font-size: clamp(1.6rem, 1.6vw + 0.8rem, 2.3rem);
    margin: 0.3rem;
}

section.contact-info-section div.map-container {
    width: 100%;
    position: relative;
    min-height: 30%;
    padding: 0 0.3rem 0 0.3rem;
}

section.contact-info-section div.address-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2rem;
    width: 100%;
    text-align: center;
    font-size: clamp(0.9rem, 1.0vw + 0.4rem, 1.2rem);

}

div.border {
    width: fit-content;
    max-height: 100%;
    border: 1px solid var(--v);
    padding: 0.7rem;

}

div.address-info a:hover {
    color: var(--v);
    text-decoration: underline;

}





/* #endregion contact info map */


/* #region submitted  div */

div article.artSubmit {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--colore-blur1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    backdrop-filter: blur(10px);


}


div article.artSubmit h2 {
    font-family: 'Bitcount', sans-serif;
    max-width: 90%;
    font-size: clamp(1.9rem, 1.6vw + 0.6rem, 2.7rem);
    color: var(--v);
    margin-top: 2rem;
    margin: 0.3rem;
    background-color: var(--colore-blur2);
    border: 3px solid var(--colore-accento);
    border-radius: 10px;
    padding: 0.3rem;
}

div article.artSubmit p {
    font-family: 'Bitcount', sans-serif;
    border-radius: 10px;
    border: 3px solid var(--v);
    max-width: 80%;
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.8rem);
    color: var(--colore-testo);
    margin: 0.3rem;
    background-color: var(--colore-blur2);
    padding: 0.3rem;
}

div article.artSubmit button {
    margin-top: 0.5rem;
    cursor: pointer;
    text-align: center;
    background-color: var(--colore-sfondo);
    color: var(--colore-testo);
    min-width: 30%;
    max-height: 15%;
    padding: 0.1rem;
    font-size: clamp(1.4rem, 1.5vw + 0.5rem, 2.2rem);
    border: 2px solid var(--v);
    border-radius: 10px;
    font-weight: 700;
    animation: neon-pulse 0.9s infinite alternate ease-in-out;
}

div article.artSubmit button:hover{
    background-color: var(--colore-accento);
    color: var(--colore-sfondo);
    border: 2px solid var(--v);
    animation: none;
    box-shadow: inset 0 0 15px var(--v);


}



/* #endregion submitted  div */


/* #region media-query <550px */

@media screen and (max-width: 550px) {
    div.cont-contact {
        grid-template-columns: 1fr;
        grid-template-areas:
            "form"
            "map";

    }

    section.contact-info-section {
        width: 100%;
        border-top: 1px solid var(--colore-secondario);
    }

section.form-contact-section h2,
section.contact-info-section h2.homeH2c {
    width: 100%;

padding-left: 0.7rem;


}


    section.contact-info-section div.map-container {
        width: 95%;

    }

    .address-info div.border {
        width: 90%;
        margin-bottom: 0.5rem;
    }

    form#form {
        width: 100%;


    }

    form#form fieldset {
        width: 95%;
    }

    form#form label[for="textarea"] {
        width: 95%;
    }

    form#form button#button-submit {
        font-size: 1.3rem;
    }

}

/* #endregion media-query <500px */