html {
    --c: #009bbe;
    --v: #ff01ff;
    --colore-sfondo: #000000;
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
    --colore-testo: #EAEAEA;

}


main.game-main {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
        "desc img nav-g";
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

/* #region nav game */
header.game-header {
    width: 100%;
    height: 100%;
    grid-area: nav-g;
    border-left: 3px solid var(--colore-secondario);
    
}

nav.game-nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

ul.gamesList {

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-top: 5rem;
    margin: 0;
    width: 100%;
    height: 100%;

}

li.game {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    min-height: 2rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

li.game label {
    border: 3px solid var(--v);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: clamp(0.8rem, 1.4vw + 0.5rem, 1.2rem);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
    animation: neon-pulse 1.5s infinite alternate ease-in-out;

}

li.game:hover label {
    transform: scale(1.1);
    background-color: var(--colore-accento);
    color: black;
    animation: none;
    box-shadow: inset 0 0 15px var(--v);

}

.label-selected {
    transform: scale(1.1);
    background-color: var(--colore-accento);
    color: black;
    animation: none;
    box-shadow: inset 0 0 15px var(--v);

}


@keyframes neon-pulse {
    0% {
        box-shadow: inset 0 0 7px var(--v), inset 0 0 10px var(--v);
    }

    100% {
        box-shadow: inset 0 0 14px var(--v), inset 0 0 20px var(--colore-accento);
    }
}

/* #endregion nav game */


/* #region text/img game */
section.gamePage {
    grid-area: desc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 3px solid var(--colore-secondario);
    
}

article.game-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 700ms ease-in-out;
}

section.gamePage article.game-article h1 {
    font-family: 'Bitcount', sans-serif;
    text-align: center;
    color: var(--v);
    font-size: clamp(1.8rem, 1.8vw + 1.1rem, 6rem);
}

span.desc {
    font-family: 'Bitcount', sans-serif;
    color: var(--c);
    font-weight: bold;
    font-size: clamp(1rem, 1.6vw + 0.4rem, 1.2rem);
}

article.game-article button.btn-play {
    text-align: center;
    border: 3px solid var(--v);
    border-radius: 10px;
    width: 30%;
    font-size: clamp(1rem, 1.6vw + 0.4rem, 1.9rem);
    animation: neon-pulse 1.5s infinite alternate ease-in-out;
    background-color: var(--colore-sfondo);
    color: var(--colore-testo);
    box-shadow: inset 0 0 15px var(--v);
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}

article.game-article button:hover {
    background-color: var(--colore-accento);
    color: black;
    box-shadow: inset 0 0 15px var(--v);
    animation: none;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

article.game-article p {
    color: var(--colore-testo);
    font-size: clamp(1rem, 1.6vw + 0.4rem, 1.2rem);

    padding: 0.5rem;
    border-radius: 10px;
}

article.game-article p:first-of-type {
    margin-top: 0;
    text-decoration: underline;
    text-decoration-color: var(--colore-secondario);
    text-decoration-thickness: 2px;
}




article.game-article h2 {
    font-family: 'Bitcount', sans-serif;
    text-align: center;
    color: var(--v);
    font-size: clamp(1.2rem, 1.6vw + 0.8rem, 2.2rem);
}

section.game-img {
    grid-area: img;
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: 700ms ease-in-out;
    
}

section.game-img div.figure {
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

section.game-img div.figure div.img {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/coming-soon.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0.2rem;
    border: 1px solid var(--v);
}

div.gameCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;


}

div.gameContImages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}


div.gameContImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

div.gameImg1 {
    aspect-ratio: 16/9;
    width: 100%;
    background-image: url("../../assets/img/scf1.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0.2rem;
    margin-right: 0.1rem;
    border: solid 1px var(--v);
}

div.gameImg2 {
    aspect-ratio: 16/9;
    width: 100%;
    background-image: url("../../assets/img/scf2.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0.2rem;
    margin-left: 0.1rem;
    border: solid 1px var(--v);
}

h3.gameH3 {
    margin: 0;
    padding: 0;
    font-family: 'Bitcount', sans-serif;
    text-align: center;
    color: var(--v);
    font-size: clamp(1rem, 1.6vw + 0.8rem, 2rem);

}

.contentLoading {
    opacity: 0;
    transform: translateY(0.5rem);
}

/* #endregion text/img game */


/* #region media queri <550px */

@media screen and (max-width: 550px) {

 main.game-main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav-g"
            "img"
            "desc"
            ;
        overflow-y: scroll;
        flex-direction: column;
        padding-top: 3%;

    }

    header.game-header{
margin: 3% auto;
border: none;
}

    ul.gamesList{
        padding: 0;
      
        width: 97%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
         gap: 2%;
         border: none;
    }

nav.game-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
   


}

li.game{
width: 31%;
margin: 0;

}

section.game-img{
width: 97%;
border: none;
padding: 0;
margin: 3% auto;
}



section.gamePage{

    flex-direction: column;
    border: none;
    width: 97%;
    padding: 0;

    margin: 3% auto;
}

article.game-article button.btn-play{
font-size: clamp(2rem, 1.5vw + 0.4rem, 3rem);
    width: 50%;
}

h3.gameH3{
    font-size: clamp(1.6rem, 1.5vw + 0.4rem, 2.5rem);
    font-weight: 500;
}

article.game-article h2{
    font-size: clamp(1.6rem, 1.5vw + 0.4rem, 2.5rem);
    font-weight: 500;
}

article.game-article p{

    font-size: clamp(1rem, 1.5vw + 0.4rem, 1.5rem);
}

span.desc{

    font-size: clamp(1.1rem, 1.5vw + 0.4rem, 1.5rem);
}

}
/* #endregion media queri <550px */