@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

/* #region html/body */
html {
    --cursor1: url('../../assets/cursor/cursor1.cur'), auto;
    --cursor2: url('../../assets/cursor/cursor2.cur'), pointer;
    --c: #009bbe;
    --v: #ff01ff;
    --colore-sfondo: #000000;
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
    --colore-testo: #EAEAEA;
    --colore-blur: rgba(0, 207, 255, 0.1);
    --width-max: 1280px;
    --heigth-max: 900px;
    font-size: 16px;
    color: var(--colore-testo);
    user-select: none;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
   flex-direction: column;
    cursor: var(--cursor1);
    margin: 0;
    width: 100%;
    background-color: var(--colore-sfondo);
        height: 100vh;
    overflow: hidden;
}


.page-wrapper {

    min-height: 100vh;
    width: 100%;
    max-width: var(--width-max);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Regole per il cursore  */

label.placeholder:hover,
label.codiceSwitch:hover,
span.testo:hover,
a:hover,
li.game:hover,
button#buttonSubmit:hover,
button:hover,
main.contact-page section.form-contact-section form#form button#button-submit:hover,
input:hover,
select:hover,
.swiper span.swiper-pagination-bullet:hover,
div.swiper-button-prev:hover,
div.swiper-button-next:hover,
img#choice-sasso:hover,
img#choice-carta:hover,
img#choice-forbici:hover {
    cursor: var(--cursor2);
}


label.placeholder,
label.codiceSwitch,
span.testo,
a,
button,
li.game,
button#buttonSubmit,
main.contact-page section.form-contact-section form#form button#button-submit,
input, 
 select,
div.swiper-button-prev,
div.swiper-button-next,
.swiper span.swiper-pagination-bullet,
img#choice-sasso,
img#choice-carta,
img#choice-forbici {
    cursor: var(--cursor2);
}

/* #endregion */

/* #region nav  */
header#main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0.3% auto;
    flex-shrink: 1;

}

nav.main-nav {
    width: 60%;
    height: 100%;
    border-bottom: 3px solid var(--v);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

ul.list {
    font-size: clamp(1rem, 1rem + 0.8vw, 3rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 90000px;
}

li.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    margin-right: 0.2rem;
}

li a.link:hover {
    color: var(--colore-sfondo);
    background-color: var(--colore-accento);
    box-shadow: 2px 2px 7px 7px var(--colore-accento);
    font-weight: 700;
}

/* #endregion */

/* #region logo  */
div.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem auto;
}

h1#animated-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    font-family: 'Bitcount', sans-serif;
    font-size: clamp(0.8rem, 2.9vw + 1rem, 5rem);
    color: var(--colore-testo);
    letter-spacing: 0.05rem;
    z-index: 10;
    max-height: 0.8rem;
}

.force-text-font {
    font-family: 'Bitcount', sans-serif;
}

i.fa-face-smile {
    font-size: clamp(0.5rem, 1.5vw + 0.5rem, 2.3rem);

}

i.fa-gamepad {
    font-size: clamp(0.4rem, 1.5vw + 0.5rem, 2.3rem);
    color: var(--colore-accento)
}

i.fa-headset {
    font-size: clamp(0.4rem, 1.5vw + 0.5rem, 2.3rem);
    color: var(--v)
}

/* #endregion */

/* #region main */
div.cont {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin: 0.5% auto; 
    border: 3px solid var(--colore-secondario);
    min-height: 0;
    border-radius: 5px; 
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;

  backdrop-filter: blur(1rem) brightness(6);
  background-image: radial-gradient(circle at 50% 50%,
      #0000 0,
      #0000 2px,
      hsl(0 0 4%) 2px);
  background-size: 8px 8px;
    


}

main.swiper {
    width: 90%;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--colore-secondario);
    max-height: 70%;
    /*togliere in caso di media query*/
}

section.hero-carousel {
    width: 100%;
    height: 100%;
    min-width: 300px;
}

div.cont main.swiper div.swiper-button-prev::after,
div.cont main.swiper div.swiper-button-next::after {
    font-size: clamp(1.2rem, 2.5vw + 2rem, 5.5rem);
    font-weight: bolder;
}

div.swiper-button-prev,
div.swiper-button-next {
    color: var(--v);
    text-shadow:
        0 0 5px var(--colore-accento),
        0 0 10px var(--colore-accento),
        0 0 20px var(--colore-accento),
        0 0 40px var(--v);
}

div.cont main.swiper div.swiper-button-next::after {
    animation: bouncerR 1.4s infinite ease-in-out;
}

div.cont main.swiper div.swiper-button-prev::after {
    animation: bouncerL 1.4s infinite ease-in-out;
}

@keyframes bouncerL {

    0%,
    60%,
    100% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(20px);
    }
}

@keyframes bouncerR {

    0%,
    60%,
    100% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-20px);
    }
}

div.swiper-button-prev:hover:after,
div.swiper-button-next:hover:after {
    background-color: var(--colore-accento);
    cursor: pointer;

    box-shadow: 2px 2px 10px 10px var(--colore-accento);
    color: var(--v);
    text-shadow:
        0 0 5px var(--colore-accento),
        0 0 10px var(--colore-accento),
        0 0 20px var(--colore-accento),
        0 0 40px var(--v);
}


.swiper span.swiper-pagination-bullet-active {
    color: var(--v);
    background-color: var(--v);
    transform: scale(1.4);
    box-shadow:
        0px 1px 1px 1px var(--v),
        0px 1px 2px 2px var(--colore-accento),
        0px 2px 1px 1px var(--v)
}

.swiper span.swiper-pagination-bullet:hover {
    opacity: 1;
    color: var(--v);
    background-color: var(--v);
    transform: scale(1.4);
    box-shadow:
        0px 1px 1px 1px var(--v),
        0px 1px 2px 2px var(--colore-accento),
        0px 2px 1px 1px var(--v)
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    display: none;
}

div.cont main.swiper div.swiper-pagination {
    width: 15%;
    margin: 0 41%;
    background-color: rgba(253, 253, 253, 0.2);
    border-radius: 10px;
}

/* #endregion */

/* #region footer  */
footer {
    object-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.2rem;
    flex-shrink: 0;
    margin-top: auto;
}

div.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-right: 0.5rem;
}

i {
    margin: 0 0.3rem;
    width: 100%;
    z-index: 10;
    font-size: clamp(0.5rem, 1.8vw + 0.4rem, 1.2rem)
}

i:hover {
    color: var(--v);
    cursor: pointer;
}

footer p {
    padding-left: 0.5rem;
    width: fit-content;
    display: inline-block
}

footer p small {
    font-size: clamp(0.5rem, 1.6vw + 0.3rem, 0.9rem);
    display: inline-block
}

/* #endregion */