/* #region html/body */
html {
    --c: #009bbe;
    --v: #ff01ff;
    --colore-sfondo: #000000;
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
    --colore-testo: #EAEAEA;
    --colore-blur: rgba(0, 207, 255, 0.1);
    --width-max: 1280px;
    --heigth-max: 800px;
    font-size: 16px;
    color: var(--colore-testo);
}

body {
    position: relative;
    max-width: var(--width-max);
    max-height: var(--heigth-max);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* #endregion html/body */


/* #region nav */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    padding: 5px;
    width: 70%;
    border-bottom: solid var(--v);
    display: flex;
    align-items: center;
    justify-content: center;



}

ul.list {
    font-size: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 90000px;
}

li.menu {
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 10px;

}



li a.link:hover {
    color: var(--colore-sfondo);
    background-color: var(--colore-accento);
    box-shadow: 2px 2px 10px 10px var(--colore-accento);
    font-weight: 700;
}

/* #endregion nav */


/* #region logo */

ul.logoList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

li.lettera{
    font-size: xxx-large;
}

/* #endregion logo */


/* #region main */
div.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    width: 90%;
    height: 93%;
    border: 3px solid var(--colore-secondario);

}

main {
    /* margin-top: 20px; */
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.hero-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    border: 5px solid var(--colore-secondario);
    overflow: hidden;
      padding-bottom: 33.25%; 
 min-width: 300px;
}



.slide {
    position: absolute;
    
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    transition: opacity 2s ease-in-out;
 min-width: 300px;
}

figure.slide img {
    width: 100%;
   height: 100%;
 min-width: 300px;
}

.active {
    opacity: 1;

}

figcaption {
    display: none;
}

/* #endregion main */


/* #region footer */
footer {
    padding-left: 10px;
    margin-top: auto;
    align-self: flex-start;
}

/* #endregion footer */