@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

/* #region html/body e cursor */
html {
    --cursor1: url('../../assets/cursor/cursor1.cur'), auto;
    --cursor2: url('../../assets/cursor/cursor2.cur'), pointer;
    --c: #009bbe;
    --v: #ff01ff;
    --colore-sfondo: #000000;
    --colore-sfondo33: hsla(0, 0%, 0%, 0.990);
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
    --colore-testo: #EAEAEA;
    --colore-blur: rgba(0, 207, 255, 0.1);
    --width-max: 1280px;
    --heigth-max: 900px;
    font-size: 16px;
    color: var(--colore-testo);
    user-select: none;
    overflow: hidden;


}

body {
    display: flex;
    flex-direction: column;
    cursor: var(--cursor1);
    margin: 0;
    width: 100%;
    background-color: var(--colore-sfondo);
    height: 100dvh;
    overflow: hidden;
}


.page-wrapper {

    min-height: 100dvh;
    width: 100%;
    max-width: var(--width-max);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Regole per il cursore  */

div.card:hover figure figcaption,
label.placeholder:hover,
label.codiceSwitch:hover,
span.testo:hover,
a:hover,
li.game:hover,
button#buttonSubmit:hover,
button:hover,
main.contact-page section.form-contact-section form#form button#button-submit:hover,
input:hover,
select:hover,
.swiper span.swiper-pagination-bullet:hover,
div.swiper-button-prev:hover,
div.swiper-button-next:hover,
img#choice-sasso:hover,
img#choice-carta:hover,
img#choice-forbici:hover {
    cursor: var(--cursor2);
}

div.card figure figcaption,
label.placeholder,
label.codiceSwitch,
span.testo,
a,
button,
li.game,
button#buttonSubmit,
main.contact-page section.form-contact-section form#form button#button-submit,
input,
select,
div.swiper-button-prev,
div.swiper-button-next,
.swiper span.swiper-pagination-bullet,
img#choice-sasso,
img#choice-carta,
img#choice-forbici {
    cursor: var(--cursor2);
}

/* #endregion */


/* #region nav  */
header#main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0.3rem auto;
    flex-shrink: 1;

}

header#main-header div.logo {
    display: none;
}


nav.main-nav {
    width: 60%;
    height: 100%;
    border-bottom: 3px solid var(--v);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

ul.list {
    font-size: clamp(1rem, 1rem + 0.8vw, 3rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 90000px;
}

li.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    margin-right: 0.2rem;
}

li a.link:hover {
    color: var(--colore-sfondo);
    background-color: var(--colore-accento);
    box-shadow: 2px 2px 7px 7px var(--colore-accento);
    font-weight: 700;
}

label[for="box"],
input#box {
    display: none;
}


input#box:checked~ul.list {
    display: flex;
}


/* #endregion */


/* #region logo  */
div.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5% auto;

}

h1#animated-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    font-family: 'Bitcount', sans-serif;
    font-size: clamp(1.7rem, 2vw + 1rem, 5.5rem);
    color: var(--colore-testo);
    letter-spacing: 0.05rem;
    z-index: 10;
    max-height: 0.8rem;
}

.force-text-font {
    font-family: 'Bitcount', sans-serif;
}

i.fa-face-smile {
    font-size: clamp(0.5rem, 1.5vw + 0.5rem, 2.3rem);

}

i.fa-gamepad {
    font-size: clamp(0.4rem, 1.5vw + 0.5rem, 2.3rem);
    color: var(--colore-accento)
}

i.fa-headset {
    font-size: clamp(0.4rem, 1.5vw + 0.5rem, 2.3rem);
    color: var(--v)
}

/* #endregion */


/* #region sweeper carousel */
div.cont {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0.5% auto;
    border: 3px solid var(--colore-secondario);
    min-height: 0;
    border-radius: 5px;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;

    backdrop-filter: blur(1rem) brightness(6);
    background-image: radial-gradient(circle at 50% 50%,
            #0000 0,
            #0000 2px,
            hsl(0 0 4%) 2px);
    background-size: 8px 8px;



}

.swiper {
    width: 90%;
    margin: 0.8rem auto;
    display: flex;
    align-items: center;
    border: 5px solid var(--colore-secondario);
    min-height: 18rem;
    /*togliere in caso di media query*/
}

section.hero-carousel {
    width: 100%;
    height: 100%;
    min-width: 300px;
}

div.cont .swiper div.swiper-button-prev::after,
div.cont .swiper div.swiper-button-next::after {
    font-size: clamp(1.2rem, 2.5vw + 2rem, 5.5rem);
    font-weight: bolder;
}

div.swiper-button-prev,
div.swiper-button-next {
    color: var(--v);
    text-shadow:
        0 0 5px var(--colore-accento),
        0 0 10px var(--colore-accento),
        0 0 20px var(--colore-accento),
        0 0 40px var(--v);
}

div.cont .swiper div.swiper-button-next::after {
    animation: bouncerR 1.4s infinite ease-in-out;
}

div.cont .swiper div.swiper-button-prev::after {
    animation: bouncerL 1.4s infinite ease-in-out;
}

@keyframes bouncerL {

    0%,
    60%,
    100% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(20px);
    }
}

@keyframes bouncerR {

    0%,
    60%,
    100% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-20px);
    }
}

div.swiper-button-prev:hover:after,
div.swiper-button-next:hover:after {
    background-color: var(--colore-accento);
    cursor: pointer;

    box-shadow: 2px 2px 10px 10px var(--colore-accento);
    color: var(--v);
    text-shadow:
        0 0 5px var(--colore-accento),
        0 0 10px var(--colore-accento),
        0 0 20px var(--colore-accento),
        0 0 40px var(--v);
}


.swiper span.swiper-pagination-bullet-active {
    color: var(--v);
    background-color: var(--v);
    transform: scale(1.4);
    box-shadow:
        0px 1px 1px 1px var(--v),
        0px 1px 2px 2px var(--colore-accento),
        0px 2px 1px 1px var(--v)
}

.swiper span.swiper-pagination-bullet:hover {
    opacity: 1;
    color: var(--v);
    background-color: var(--v);
    transform: scale(1.4);
    box-shadow:
        0px 1px 1px 1px var(--v),
        0px 1px 2px 2px var(--colore-accento),
        0px 2px 1px 1px var(--v)
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    display: none;
}

div.cont .swiper div.swiper-pagination {
    width: 15%;
    margin: 0 41%;
    background-color: rgba(253, 253, 253, 0.2);
    border-radius: 10px;
}

/* #endregion sweeper carousel */


/* #region section about us */
main.homeM {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}


section.homeS {
    border-top: 1px solid var(--colore-secondario);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
}

article.homeA {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}

h2.homeH2 {
    width: 100%;
    font-family: 'Bitcount', sans-serif;
    font-size: clamp(1.7rem, 2.2vw + 0.7rem, 5rem);
    margin: 0.5rem;
    color: var(--colore-secondario);
}

p.homeP {

    width: 100%;
    font-size: clamp(1rem, 1.8vw + 0.4rem, 1.5rem);
    color: var(--colore-testo);
    margin: 0.5rem 0.5rem;


}

.homeAbout p.homeP::first-letter {
    font-size: 2.7em;
    /* Rende la lettera 3 volte più grande rispetto al testo base */
    color: var(--colore-accento);
    /* Cambia il colore della lettera in blu */
    /* font-weight: bold; Rende la lettera in grassetto */
    float: left;
    /* Sposta la lettera a sinistra, creando un effetto di "drop cap" */
    margin-right: 0 0.2em 0 0.1rem;
    /* Aggiunge uno spazio a destra per separare la lettera dal resto del testo */
    font-family: 'Bitcount', sans-serif;

}

section.homeS.homeAbout {
    border: none;

}

/* #endregion section about us */


/* #region team */

.team {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.homeTeam {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;


}

article.homeA.teamA {
    border: 1px solid var(--v);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

div.homeImgTeam {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

article.teamA:nth-of-type(2) div.homeImgTeam {
    flex-direction: row-reverse;


}

.teamCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;

}

.teamCard h3 {
    text-align: center;
    font-family: 'Bitcount', sans-serif;
    font-size: clamp(2rem, 1.8vw + 0.5rem, 3.3rem);
    color: var(--colore-accento);
    margin: 0.3rem;
}

.teamCard h4 {

    text-align: center;
    font-family: 'Bitcount', sans-serif;
    font-size: clamp(1.2rem, 1.8vw + 0.4rem, 2.5rem);
    color: var(--v);
    margin: 0.3rem;

}

.teamCard p {

    text-align: center;
    font-size: clamp(1rem, 1.8vw + 0.4rem, 1.2rem);
    color: var(--colore-testo);
    margin: 0.3rem;
}

figure.figureTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 4 / 3;
    margin: 0.5rem;
    border-radius: 5px;
}

article.teamA:nth-of-type(1) .teamImg {
    background-image: url("../../assets/img/ceo.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

article.teamA:nth-of-type(2) .teamImg {
    background-image: url("../../assets/img/cto.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    height: 100%;
    border-radius: 5px;
    width: 0%;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

article.teamA:nth-of-type(3) .teamImg {
    background-image: url("../../assets/img/director.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

/* #endregion team */


/* #region card */

section.homeS.cardS {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--colore-secondario);

}


div.homeCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

div.homeCard a {
    width: 100%;
    height: 100%;
}

div.card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--colore-secondario);
    border-radius: 5px;

}

div.card figure {
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 4 / 3;

    border-radius: 5px;
}

div.card figure:hover figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    font-size: clamp(1rem, 1.8vw + 0.4rem, 1.7rem);
    color: var(--colore-testo);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;

}

h2.cardH2 {
    color: var(--colore-accento);
    text-align: center;

}




div.descPrew {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




span.spanCard {
    position: absolute;
    top: 60%;
    right: 0;
    border-radius: 50%;
    border: 2px solid var(--colore-secondario);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem, 1.8vw + 0.6rem, 3.5rem);
    color: var(--v);
    padding: 0.2rem;
    font-family: 'Bitcount', sans-serif;
    background-color: var(--colore-accento);
    font-weight: 800;
    box-shadow: 2px 2px 4px 4px var(--colore-sfondo);
    text-shadow:
        -1px -1px 0 var(--colore-sfondo),
        1px -1px 0 var(--colore-sfondo),
        -1px 1px 0 var(--colore-sfondo),
        1px 1px 0 var(--colore-sfondo);

}

.card:nth-of-type(1) .gamePreviewImg {

    background-image: url("../../assets/img/sassocartaforbice.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 1px solid var(--colore-secondario);
    border-radius: 5px;
}



.card:nth-of-type(2) .gamePreviewImg {

    background-image: url("../../assets/img/ordina-le-parole.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 1px solid var(--colore-secondario);
    border-radius: 5px;
}

.card:nth-of-type(3) .gamePreviewImg {

    background-image: url("../../assets/img/trovailcodice.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 1px solid var(--colore-secondario);
    border-radius: 5px;
}


/* #endregion card */


/* #region office */

.officeS {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.officeA {
    background-image: url("../../assets/img/office.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;




}

.officeA h2 {

    width: fit-content;
    background-color: var(--colore-blur33);
    padding: 0.5rem;
    border-radius: 99px;
    color: var(--colore-secondario);
}

.officeA p {
    text-align: center;
    background-color: var(--colore-blur33);
    padding: 0.5rem;
    color: var(--colore-testo);
    line-height: 2;
    font-weight: 500;
    text-shadow:
        -1px -1px 0 var(--colore-sfondo),
        1px -1px 0 var(--colore-sfondo),
        -1px 1px 0 var(--colore-sfondo),
        1px 1px 0 var(--colore-sfondo);

}

/* #endregion office */


/* #region footer  */
footer {
    object-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.2rem;
    flex-shrink: 0;
    margin-top: auto;
}

div.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-right: 0.5rem;
}

i {
    margin: 0 0.3rem;
    width: 100%;
    z-index: 10;
    font-size: clamp(0.5rem, 1.8vw + 0.4rem, 1.2rem)
}

i:hover {
    color: var(--v);
    cursor: pointer;
}

footer p {
    padding-left: 0.5rem;
    width: fit-content;
    display: inline-block
}

footer p small {
    font-size: clamp(0.5rem, 1.6vw + 0.3rem, 0.9rem);
    display: inline-block
}

/* #endregion */




/* #region media query <550px */

@media screen and (max-width: 550px) {
  
    
    label[for="box"] {
      
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--colore-sfondo33);
        z-index: 9999;

    }

    header#main-header div.logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem auto;
    }

    div.logo img {
        width: 50%;
    }

    nav.main-nav {
        position: relative;
        width: 100%;

    }



    ul.list {
        display: none;
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        width: 200%;
        height: calc(100dvh - 56px);
        background-color: var(--colore-sfondo33);
        backdrop-filter: blur(5px);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap:1rem;
        padding-top: 1rem;
        z-index: 999;

    }

ul.list li{
    font-size: clamp(1.5rem, 1.8vw + 0.5rem, 2rem);


}
ul.list li:hover{
            background-color: #00CFFF;

    box-shadow: 0 0 5px 10px var(--colore-accento);

}

    i.fa-solid.fa-bars {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: clamp(1.5rem, 1.8vw + 0.4rem, 2rem)
    }

    i.fa-solid.fa-bars:hover {
        background-color: #00CFFF;
        box-shadow: 0 0 5px 10px var(--colore-accento);
        cursor: pointer
    }

    .swiper span.swiper-pagination-bullet{
        display: none;
    }

    div.homeCard {
        flex-wrap: wrap;
    }

    div.card {
        flex-direction: row-reverse;
    }

    div.card:hover figure figcaption {
        color: #0000;
        cursor: var(--cursor2);

    }



    .homeImgTeam {
        flex-direction: column;
    }

    .homeA.teamA .homeImgTeam:nth-of-type(1),
    .homeA.teamA .homeImgTeam:nth-of-type(2),
    .homeA.teamA .homeImgTeam:nth-of-type(3) {
        flex-direction: column-reverse;
    }

.officeS{
    aspect-ratio: 9/16;}


    .officeA {
    background-image: url("../../assets/img/office9-16.webp");
}
.officeA p{
font-size: 1.2rem;
margin-top: 4rem;
}

}


/* #endregion media query <550px */




/* #region media query <450px */
@media screen and (max-width: 450px) {
i.fa-face-smile,i.fa-headset{
    display: none;
  
}

h1#animated-logo{
    letter-spacing: 0.2rem;
}
}



/* #endregion media query <450px */
