html {
    --backT: #80ff00;
    --perT: #4e9b00;
    --colore-blur: rgba(0, 207, 255, 0.1);
    --colore-sfondo: #000000;
    --v: #ff01ff;
}

div.contGgg {

    display: flex;
    align-items: center;
    justify-content: center;

}

ul.terminalL {
    background-color: var(--colore-sfondo);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

li.terminalM {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    opacity: 1;
    position: relative;
    font-size: clamp(0.1rem, 1.8vw + 0.4rem, 3rem);
    color: var(--backT);
    margin-top: 0.5rem;
    padding: 0;

}

ul.terminalL li:last-of-type {
    margin-bottom: 0.5rem;
}

div.contGgg ul.terminalL li.terminalM span {
    position: absolute;
    inset: 0;
    background-color: var(--colore-sfondo);

}

/* #region span animation */

div.contGgg ul.terminalL li.terminalM:nth-of-type(1) span:nth-of-type(1) {

    border: none;
    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7,
        typewraiter1 4s forwards steps(30);
}


div.contGgg ul.terminalL li.terminalM:nth-of-type(2) span:nth-of-type(1) {

    border: none;

    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7 7s,
        typewraiter1 4s forwards steps(30) 6s;
}

div.contGgg ul.terminalL li.terminalM:nth-of-type(3) span:nth-of-type(1) {

    border: none;

    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7 12s,
        typewraiter1 4s forwards steps(30) 12s;
}

div.contGgg ul.terminalL li.terminalM:nth-of-type(4) span:nth-of-type(1) {

    border: none;

    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7 18s,
        typewraiter1 4s forwards steps(30) 18s;
}

div.contGgg ul.terminalL li.terminalM:nth-of-type(5) span:nth-of-type(1) {

    border: none;

    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7 24s,
        typewraiter1 4s forwards steps(30) 24s;
}

div.contGgg ul.terminalL li.terminalM:nth-of-type(6) span:nth-of-type(1) {

    border: none;

    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7 30s,
        typewraiter1 4s forwards steps(30) 30s;
}

div.contGgg ul.terminalL li.terminalM:nth-of-type(7) span:nth-of-type(1) {

    border: none;

    animation:
        blinkk 0.8s forwards steps(2, jump-none) 7 38s,
        typewraiter1 4s forwards steps(30) 36s;


}

div.contGgg ul.terminalL li.terminalM:nth-of-type(7) {
    animation: changeColor 3s forwards 40s;
}

@keyframes typewraiter1 {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;

    }
}



@keyframes blinkk {
    0% {
        border-left: #4e9b00 solid 0.2rem;
    }

    100% {
        border: none;
    }


}

@keyframes changeColor {
    0% {
        color: var(--backT);

    }

    100% {
        color: var(--v);
        font-size: clamp(0.3rem, 1.8vw + 0.6rem, 4rem);

        font-weight: 900;

    }

}

/* #endregion span animation */