/* #region body html */


html {
    --c: #009bbe;
    --v: #ff01ff;
    --v33: hsla(300, 100%, 50%, 0.206);
    --colore-sfondo: #000000;
    --colore-sfondo33: rgba(0, 0, 0, 0.503);
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
    --colore-testo: #EAEAEA;
    --colore-blur33: rgba(0, 77, 94, 0.733);
    --colore-blur44: rgba(0, 77, 94, 0.495);
}

div.ordina-le-parole {
    width: 100%;
    margin: auto;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    background-image: url("../../assets/img/scrollBck.webp");
    aspect-ratio: 16 / 7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
@media screen and (max-width: 500px) {
    div.ordina-le-parole {
        aspect-ratio: 16 / 9;
    background-image: url("../../assets/img/scrollBck2.webp");

    }
}




/* #endregion body html */



/* #region header parole */
h1.paroleH1 {
    background-color: var(--colore-blur33);
    font-family: 'Bitcount', sans-serif;
    color: var(--colore-secondario);
    font-size: clamp(0.8rem, 2.9vw + 0.8rem, 5rem);
    text-align: center;
    margin: 0.5rem auto 0.5rem auto;
    max-width: max-content;
    padding: 0.1rem 0.5rem;
    border-radius: 10px;
}


/* #endregion header parole */




/* #region main parole */

main.paroleM {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: clamp(0.07rem, 2.0vw + 0.3rem, 4rem);

}

article.paroleA {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}




p.parolePtesto,
span.testo {

    font-size: clamp(0.7rem, 2.0vw + 0.4rem, 5rem);
    font-family: 'Aladin', sans-serif;
    color: #000000;
    text-align: left;
}

p.parolePtesto {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(0.1rem, 2vw + 0.3rem, 0.2rem);
    width: 85%;
    line-height: 0.8;

}


span.testo {
    width: fit-content;
    border-radius: 3px;
    padding: 0.01rem;
    letter-spacing: clamp(0.01rem, 1vw + 0.05rem, 0.1rem);
    user-select: none;
        -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
     cursor: grab;
    border: 1px solid var(--colore-blur33);

}

span.testo:hover {
    background-color: var(--v);
    color: var(--colore-sfondo);
    /* transition: all 0.2s ease-in-out; */
}

article.paroleA footer {
    width: 85%;
    display: flex;
    justify-content: right;
    align-items: center;

}

p.autore {
    text-shadow: 0 0 7px var(--colore-accento);
    color: var(--colore-secondario);
    font-size: clamp(0.8rem, 2.0vw + 0.3rem, 2rem);
    text-decoration: underline;
    font-family: 'Aladin', sans-serif;
    text-align: center;
    border: 3px solid var(--v);
    border-radius: 10px;
    padding: 0.3rem;
    animation: neon-pulse 1.5s infinite alternate ease-in-out;
    background-color: var(--colore-sfondo);
    box-shadow: inset 0 0 15px var(--v);
    font-weight: 700;
    transition: all 0.4s ease-in-out;

}

cite.fonte {
    text-shadow: 0 0 7px var(--colore-accento);
    text-decoration: underline;
    text-align: right;
    font-size: clamp(0.8rem, 2.0vw + 0.3rem, 2rem);
    color: var(--colore-secondario);
    font-family: 'Aladin', sans-serif;
    font-style: italic;
    text-align: center;
    border: 3px solid var(--v);
    border-radius: 10px;
    padding: 0.3rem;
    animation: neon-pulse 1.5s infinite alternate ease-in-out;
    background-color: var(--colore-sfondo);
    box-shadow: inset 0 0 15px var(--v);
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}

span.paroleSpanCit {
    text-align: right;
    font-size: clamp(0.7rem, 1.8vw + 0.2rem, 1.5rem);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}



/* #endregion main */


/* #region drag/drop */



span.testo.sortable-ghost {

    opacity: 0;
}

span.testo.sortable-drag {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    opacity: 0.5 ;
  
}

span.testo.sortable-choose{
        /* transform: scale(1.1) rotate(2deg); */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    /* transition: all 0.2s ease-in-out; */
}
span.testo.sortable-fallback {
    opacity: 1;
    background-color: var(--v);
}

/* #endregion drag/drop */

/* #region win/next */

.completed {
    color: var(--colore-sfondo);
    background-color: var(--colore-secondario);
}


div.divWinner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: var(--colore-blur33);
    transition: opacity 0.3s ease-in-out;
    color: var(--colore-sfondo);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

h2.h2Winner {
    text-align: center;
    border-radius: 5px;

    font-family: 'Bitcount', sans-serif;
    background-color: var(--v);
    color: var(--colore-sfondo);
    font-size: clamp(0.9rem, 2.0vw + 0.4rem, 3rem);
    width: fit-content;
    padding: 0.2rem;
}

p.pWinner {
    text-align: left;
    border-radius: 5px;
    width: 80%;
    font-family: 'Bitcount', sans-serif;
    background-color: var(--colore-accento);
    color: var(--colore-secondario);
    font-size: clamp(0.7rem, 2.0vw + 0.3rem, 1.5rem);
    padding: 0.2rem;
}

article.paroleA div.divWinner.view {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;


}

button.buttonNext {
    text-align: center;
    border: 3px solid var(--v);
    border-radius: 10px;
    font-size: clamp(1rem, 1.6vw + 0.5rem, 2.3rem);
    animation: neon-pulse 1.5s infinite alternate ease-in-out;
    background-color: var(--colore-sfondo);
    color: var(--colore-testo);
    box-shadow: inset 0 0 15px var(--v);
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}

button.buttonNext:hover {
    color: var(--colore-sfondo);
    background-color: var(--colore-accento);
}

@keyframes neon-pulse {
    0% {
        box-shadow: inset 0 0 7px var(--v), inset 0 0 10px var(--v);
    }

    100% {
        box-shadow: inset 0 0 14px var(--v), inset 0 0 20px var(--colore-accento);
    }
}


/* #endregion win/next */