html{
      --c: #009bbe;
    --v: #ff01ff;
    --colore-sfondo: #000000;
    --colore-accento: #00CFFF;
    --colore-secondario: #ddff00;
    --colore-testo: #EAEAEA;
    --colore-blur33: rgba(0, 77, 94, 0.733);
}



div.sasso-carta-forbice {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items:center;     
  width: 100%;
  height: 100%;
  gap: 1em; 
    background-image: url("../../assets/img/backSfc.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}




#titolo {
    font-size: clamp(2rem, 2.7vw + 0.7rem, 3rem);
  font-weight: bold;
  color: var(--colore-secondario);
  background-color: var(--colore-blur33) ;
  text-align: center;
  border-radius: 9999999px;
  padding: 0.2em;
  margin: 0.3em 0;
}

.scelta {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height:50%;
  margin-top: auto;
}

.player-choices {
  display: flex;
    width: 47%;
  gap: 0.7em;
}

.player-choices img {
width: 30%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 3px solid var(--colore-accento);
}

.player-choices img:hover {
  transform: scale(1.1);
  border-color: var(--v);
}

.imgCpu {
  width: 23%;

  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

#risultato {
  display: flex;
  justify-content: center;
  align-items: center;
     font-size: clamp(1rem, 2.3vw + 0.4rem, 2rem);
min-width: 9em;
  color: var(--colore-secondario);
  font-weight: bolder;
margin-left: 3em;
  background: var(--colore-blur33);
  border-radius: 99999px;
  padding: 0.2em;
  
}

 .playerC, .cpuC {
   color: var(--colore-secondario);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
      font-size: clamp(0.7rem, 2.3vw + 0.4rem, 1.5rem);
      background-color: var(--colore-blur33);
  border-radius: 99999px;
  padding: 0.2em;
  
}

.contatore span {
  font-weight: bold;
  color: var(--colore-accento);
}

.playerC{
  position: absolute;
  top: 3em;
  left: 1em;
  background-color: var(--colore-blur33);
}

.cpuC{
  position: absolute;
  top: 3em;
  right: 1em;
  background-color: var(--colore-blur33);
}

.resetButton {
  padding: 0.5em 1.5em;
  background: var(--colore-sfondo);
  color: var(--colore-testo);
  font-weight: 900;
  border: 2px solid var(--v);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
  z-index: -3;
  margin: 0 auto;
  font-size: clamp(0.7rem, 2.0vw + 0.3rem, 1.2rem);
     animation: neon-pulse 1.5s infinite alternate ease-in-out;

}

@keyframes neon-pulse {
  0% {
    box-shadow:inset 0 0 10px var(--v),inset 0 0 13px var(--v);
  }
  100% {
    box-shadow:inset 0 0 17px var(--v),inset 0 0 23px var(--colore-accento);
  }
}

.resetButton:hover {
  background-color: var(--colore-accento);
  color: var(--colore-sfondo);
     animation: none; 
    box-shadow: inset 0 0 20px var(--v); 
}

button.show{
opacity: 1;
z-index: 1;
transition: 0.3s ease-in-out;
}

div.risultato{
  display: flex;
  width: 95%;
  margin-bottom: 0.2em;
 margin-top: auto;
}


/* --- STATI DOPO IL CLICK --- */

.dopoClick {
  transform: scale(1);
  border: 3px solid var(--v);
  pointer-events: none;
}

.dopoClickCpu {
  animation: none; 
  border: 3px solid var(--v);
  border-radius: 50%;
}

.win{
  transform: scale(1.6);
  margin-left: 2em;
}

.lose{
  transform: scale(0.5);
}